[submodule "vim/plugins/coc"]
	path = vim/plugins/coc
	url = https://github.com/neoclide/coc.nvim
[submodule "vim/plugins/fugitive"]
	path = vim/plugins/fugitive
	url = https://tpope.io/vim/fugitive
[submodule "vim/plugins/vim-gitgutter"]
	path = vim/plugins/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/plugins/vim-airline"]
	path = vim/plugins/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/plugins/typescript-vim"]
	path = vim/plugins/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/plugins/vim-go"]
	path = vim/plugins/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/plugins/ack.vim"]
	path = vim/plugins/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/color-schemes/dracula"]
	path = vim/color-schemes/dracula
	url = https://github.com/dracula/vim.git
[submodule "vim/plugins/ctrlp"]
	path = vim/plugins/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/plugins/vim-jsx-pretty"]
	path = vim/plugins/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
